<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whats-The-Buzz</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/Whats-the-BuzzLogo.png" width="95" height="90" id="logo" alt="Whats-The-Buzz Logo">
      Whats-The-Buzz
    </a>
  </nav>

  <div>
    <main>
      {{{ body }}}
    </main>


    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>