<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whats-The-Buzz</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Whats-The-Buzz</a>
        <a id="logo" href="#">
          <img src="../../public/images/Whats-the-BuzzLogo.png" width="95" height="90" id="logo"
            alt="Whats-The-Buzz Logo">
        </a>
      </h1>
      <img </header>
      <main>
        {{{ body }}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
  </div>

</body>

</html>